{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django1 index</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">

</head>
<body>
  <center>
    <p>{{message}}</p><br>

    <img src="{% static 'images/violao2.jpeg' %}" />

     <table>
        <thead>
            <tr>
                <th>Produto</th>
                <th>Preço</th>
            
                    {% for produto in produtos %}
                    <tr>
                        <td><a href="{% url 'produto' produto.id %}">{{ produto.nome }}</a></a></td>
                        <td>{{ produto.preco }}</td>
                    
                    </tr>
                    {% endfor %}
        </thead>
    </table>

    <button onclick="teste()">Clique aqui</button>
    
    </center>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>



    
</body>
</html>

